* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu {
    display: inline-block;
    width: 50%;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 16px;
    text-align: center;
}

.menu__main {
    
}

.menu__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid #000000;
    align-content: flex-start;
    justify-content: flex-start;
}

.menu__items-fridge {
    width: 25%;
    height: 100%;
}

.menu__items__icon-fridge {
    width: 50%;
    height: 70%;
}

.menu__items-tires {
    width: 25%;
    height: 25%;
}

.menu__items__icon-tires {
    width: 50%;
    height: 70%;
}

.menu__items-cleaner {
    width: 25%;
    height: 25%;
}

.menu__items__icon-cleaner {
    width: 50%;
    height: 70%;
}

.menu__items-oil {
    width: 25%;
    height: 100%;
}

.menu__items__icon-oil {
    width: 50%;
    height: 70%;
}

.menu__items-stroller {
    width: 25%;
    height: 25%
}

.menu__items__icon-stroller {
    width: 50%;
    height: 90%;
}

.menu__items-speaker {
    width: 25%;
    height: 25%;
}

.menu__items__icon-speaker {
    width: 50%;
    height: 90%;
}